
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                        <li class="active">Đăng ký</li>
                    </ul>
                    <h3> Đăng ký</h3>
                    <div class="well">
                        
                        <form class="form-horizontal" action="" method="POST" role="form">
                            <h4>Thông tin cá nhân</h4>
                            <div class="control-group">
                                <label class="control-label">Bạn là ? <sup>*</sup></label>
                                <div class="controls">
                                    <select class="span1" name="gender">
                                        <option value="">-</option>
                                        <option value="1">Nam</option>
                                        <option value="2">Nữ</option>
                                        <option value="3">LGBT</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="inputLnam">Tên <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="inputLnam" placeholder="Vinh" name="name">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="input_email">Email <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="input_email" placeholder="Email" name="email"> 
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword1">Mật khẩu <sup>*</sup></label>
                                <div class="controls">
                                    <input type="password" id="inputPassword1" placeholder="Mật khẩu" name="password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Năm sinh <sup>*</sup></label>
                                <div class="controls">
                                    <select class="span1" name="birthday">
                                        <option value="">-</option>
                                        <option value="2001">1&nbsp;&nbsp;</option>
                                        <option value="2000">2&nbsp;&nbsp;</option>
                                        <option value="1999">3&nbsp;&nbsp;</option>
                                        <option value="1998">4&nbsp;&nbsp;</option>
                                        <option value="1997">5&nbsp;&nbsp;</option>
                                        <option value="1996">6&nbsp;&nbsp;</option>
                                        <option value="1995">7&nbsp;&nbsp;</option>
                                    </select>
                                </div>
                            </div>
                            <div class="alert alert-block alert-error fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>Chú ý: </strong>Vui lòng điền đầy đủ thông tin
                            </div>
                            <h4>Thông tin thêm</h4>
                            <div class="control-group">
                                <label class="control-label" for="city">Tỉnh thành <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="city" placeholder="Hồ Chí Minh" name="city" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="address">Địa chỉ <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="address" placeholder="323/4 Lê Quang Định" name="address" /> <span>Số nhà, tên đường</span>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="aditionalInfo">Thông tin thêm</label>
                                <div class="controls">
                                    <textarea name="addition" id="aditionalInfo" cols="26" rows="3">Thông tin thêm</textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="mobile">Điện thoại <sup>*</sup> </label>
                                <div class="controls">
                                    <input type="text"  id="mobile" placeholder="0123456789" name="phone" />
                                </div>
                            </div>
                            <p style="color: red;"><sup>(*)</sup> Không được bỏ trống</p>
                            <div class="control-group">
                                <div class="control g-recaptcha" style="margin-left: 20%" data-sitekey="6LcKAVUUAAAAANFfTRJIksSWoAHQ59cu3vpLNy0O"></div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    
                                </div>
                            </div>
                        </form>
                        {{#if add_ok}}
                        <div class="alert alert-success">
                            <strong>Success!</strong> Thêm sản phẩm thành công.
                        </div>
                        {{/if}}
                        {{#if add_false}}
                        <div class="alert alert-danger">
                            <strong>Danger!</strong> Thêm sản phẩm thất bại.
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MainBody End ============================= -->
   