
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
		<li class="active">Quên mật khẩu?</li>
    </ul>
	<h3> QUÊN MẬT KHẨU?</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well">
			<h5>Tạo lại mật khẩu mới</h5><br/>
			<p style="color: red;">Chú ý:</p>
			Hãy nhập vào Email đăng ký của bạn. Sẽ có một mã xác nhận gửi tới địa chỉ Email của bạn. Khi bạn đã nhận được mã xác nhận thì bạn có thể thay đổi mật khẩu của mình.<br/><br/><br/>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">Email:</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail1" placeholder="Email">
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block btn-primary">Hoàn tất</button>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
