<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>
    <h2 style="text-align: center;">KHO</h2>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Hãng sản xuất</th>
                    <th>Số lượng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                    <td>NA</td>
                </tr>
            </tbody>
        </table>
        <form action="" method="POST" role="form">
            <div class="form-group">
                <label for="">Category Name</label>
                <input type="text" class="form-control" id="" placeholder="smartphone">
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-check"></span> Save
            </button>
        </form>
    </div>
</div>