
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
		<li class="active">Khuyến mãi</li>
    </ul>
	<h4> 20% Sale off siêu khuyến mãi<small class="pull-right"> 10 sản phẩm đang áp dụng chương trình </small></h4>	
	<hr class="soft"/>
	<form class="form-horizontal span6">
		<div class="control-group">
		  <label class="control-label alignL">Lọc theo </label>
			<select>
              <option>Tên sản phẩm A - Z</option>
              <option>Tên sản phẩm  Z - A</option>
              <option>Còn hàng</option>
              <option>Giá cả (thấp - cao)</option>
              <option>Giá cả (cao - thấp)</option>
            </select>
		</div>
	  </form>
	<div id="myTab" class="pull-right">
	 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
	 <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
	</div>
<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane" id="listView">
		<div class="row">	  
			<div class="span2">
			<img src="images/products/acer-e5-475-31kc.jpg" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Máy xách tay/ Laptop Acer E5-475-31KC (NX.GCUSV.001) (Xám) </h5>
				<p>
				- CPU: Intel Core i3 6006U 2.0GHz - 3M<br/>
				- Ram: 4GB DDR4<br/>
				- Ổ cứng: HDD 500GB 5400rpm Sata3</br>
				- Màn hình: 14 inches<br/>
				- Trọng lượng: 2.1kg<br>
				- Hệ điều hành có sẵn: Free DOS<br/>
				</p>
				<a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3><small><strike>8,890,000₫</strike></small><br/> 7,112,000₫ </h3>
			<label class="checkbox">
				<input type="checkbox"> So sánh sản phẩm
			</label><br/>
			  <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
			  <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
			</div>
	</div>
	<hr class="soft"/>
	<div class="row">	  
			<div class="span2">
			<img src="images/products/laptop-acer_e5-575g-50th-15.6-i3-7200u-4gb-ddr4-hdd-1tb-den-1.jpg" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Máy xách tay/ Laptop Acer E5-575G-50TH (NX.GL9SV.003) (Xám) </h5>
				<p>
				- CPU: Intel Core i5 7200U 2.5GHz - 3M (up to 3.1GHz)
				- Ram: 4GB DDR4
				- Ổ cứng: HDD 1TB
				- Màn hình: 15.6 inches
				- Trọng lượng: 2.23 kg
				- Hệ điều hành có sẵn: Free DOS
				</p>
				<a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3><small><strike>10,790,000 ₫</strike></small><br/>  8,632,000₫ </h3>
			<label class="checkbox">
				<input type="checkbox"> So sánh sản phẩm
			</label><br/>
			  <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
			  <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
			</div>
	</div>
	<hr class="soft"/>
	<div class="row">	  
			<div class="span2">
			<img src="images/products/laptop-acer-e5-575g-39qw-15.6-i3-7100u-4gb-ddr4-hdd-500gb-den-1.jpg" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Máy xách tay/ Laptop Acer E5-575G-39QW (NX.GDWSV.005) (Đen)</h5>
				<p>
				- CPU: Intel Core i3 7100U 2.4GHz - 3M
				- Ram: 4GB DDR4
				- Ổ cứng: HDD 500 GB
				- Màn hình: 15.6 inches
				- Trọng lượng: 2.3kg
				- Hệ điều hành có sẵn: Free DOS
				</p>
				<a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3><small><strike>10.690.000 ₫</strike></small><br/>  8,500,000₫ </h3>
			<label class="checkbox">
				<input type="checkbox"> So sánh sản phẩm
			</label><br/>
			  <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
			  <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
			</div>
	</div>
	<hr class="soft"/>
	<div class="row">	  
			<div class="span2">
			<img src="images/products/acser-as-vx5-591g-52yz.jpg" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Máy xách tay/ Laptop Acer AS VX5-591G-52YZ (NH.GM2SV.002) (Đen)</h5>
				<p>
				- CPU: Intel Core i5 7300HQ 2.5GHz - 6M (up to 3.5GHz)
				- Ram: 8GB DDR4
				- Ổ cứng: SSD 128GB M.2 2280 + HDD 1TB 5400rpm Sata3
				- Màn hình: 15.6' inches
				- Trọng lượng: 2.5Kg
				- Hệ điều hành có sẵn: Free DOS
				</p>
				<a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3><small><strike>20,190,000 ₫</strike></small><br/>  16,500,000₫ </h3>
			<label class="checkbox">
				<input type="checkbox"> So sánh sản phẩm
			</label><br/>
			  <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
			  <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
			</div>
	</div>
	<hr class="soft"/>
	<div class="row">	  
			<div class="span2">
			<img src="images/products/acer-g3-572-70j1.jpg" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Máy xách tay/ Laptop Acer G3-572-70J1 (NH.Q2CSV.003) (Đen)</h5>
				<p>
				- CPU: Intel Core i7 7th Gen 2.8 GHz
				- Ram: 8GB DDR4
				- Ổ cứng: HDD 1TB + SSD 128GB
				- Màn hình: 15.6inches
				- Trọng lượng: 2.5kg
				- Hệ điều hành có sẵn: Free DOS	
				</p>
				<a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3><small><strike>26.990.000 ₫</strike></small><br/>  21,500,000₫ </h3>
			<label class="checkbox">
				<input type="checkbox"> So sánh sản phẩm
			</label><br/>
			  <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
			  <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
			</div>
	</div>
	<hr class="soft"/>
		<div class="row">	  
			<div class="span2">
			<img src="images/products/acer-switch-alpha-12-sa5-271p-53cq2.jpg" alt=""/>
			</div>
			<div class="span4">
				<h3>New | Available</h3>				
				<hr class="soft"/>
				<h5>Máy xách tay/ Laptop Acer SA5-271P-53CQ (NT.LB9SV.003) I5-6200U (Bạc)</h5>
				<p>
				- CPU: Core i5-6200U (3M Cache, 2.3Ghz up to 2.8Ghz)
				- Ram: 4 GB 1600 MHz
				- Ổ cứng: SSD 256G
				- Màn hình: 12 inches
				- Trọng lượng: 1.25kg
				</p>
				<a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3><small><strike>20.199.000 ₫</strike></small><br/>  16,500,000₫ </h3>
			<label class="checkbox">
				<input type="checkbox"> So sánh sản phẩm
			</label><br/>
			  <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
			  <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
			</div>
	</div>
	<hr class="soft"/>
	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/acer-e5-475-31kc.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer E5-475-31KC (NX.GCUSV.001) (Xám)</h5>
				  
				  <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">8.890.000 ₫</a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/laptop-acer_e5-575g-50th-15.6-i3-7200u-4gb-ddr4-hdd-1tb-den-1.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer E5-575G-50TH (NX.GL9SV.003) (Xám)</h5>
				 
				  <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i>
				  </a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a>
				   <a class="btn btn-primary" href="#">12.290.000 ₫ </a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/laptop-acer-e5-575g-39qw-15.6-i3-7100u-4gb-ddr4-hdd-500gb-den-1.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer E5-575G-39QW (NX.GDWSV.005) (Đen)</h5>
				
				   <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">10.990.000 ₫</a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/acser-as-vx5-591g-52yz.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer AS VX5-591G-52YZ (NH.GM2SV.002) (Đen)</h5>
				 
				   <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">20.190.000 ₫</a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/acer-g3-572-70j1.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer G3-572-70J1 (NH.Q2CSV.003) (Đen)</h5>
				 
				   <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">29.990.000 ₫</a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/acer-switch-alpha-12-sa5-271p-53cq2.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer SA5-271P-53CQ (NT.LB9SV.003) I5-6200U (Bạc)</h5>
				  
				
				   <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">20.199.000 ₫</a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/acer-swift-5-sf514-5-56f3.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer SF514-51-56F3 (NX.GLDSV.004) I5-7200U (Đen)</h5>
				  
				   <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">20.990.000 ₫</a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/acer-swift-5-sf514-51-51pt.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer SF514-51-51PT (NX.GNHSV.001) I5-7200U (Trắng)</h5>
				
				   <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">20.990.000 ₫</a></h4>
				</div>
			  </div>
			</li>
			<li class="span3">
			  <div class="thumbnail">
				<a href="/product_details"><img src="images/products/acer-as-vx5-591g-70xm.jpg" alt=""/></a>
				<div class="caption">
				  <h5>Máy xách tay/ Laptop Acer AS VX5-591G-70XM (NH.GM2SV.001) (Đen)</h5>
				  
				   <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng<i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">23.290.000 ₫</a></h4>
				</div>
			  </div>
			</li>
		  </ul>


	<hr class="soft"/>
	</div>
</div>
<a href="/compair" class="btn btn-large pull-right">So sánh sản phẩm</a>
	<div class="pagination">
		<ul>
		<li><a href="#">&lsaquo;</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">...</a></li>
		<li><a href="#">&rsaquo;</a></li>
		</ul>
	</div>
<br class="clr"/>
</div>
</div></div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
	