
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
		<li class="active">Tính hợp pháp</li>
    </ul>
	<h3> TÍNH HỢP PHÁP</h3>	
	<hr class="soft"/>
	<div id="legalNotice">
		<H3>Được bảo kê bởi thầy Ngô Ngọc Đăng Khoa</H3>
	</div>
	</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
