 <div class="span9">
                    <div class="well well-small">
                        <h4>Sản phẩm mới<small class="pull-right">10+ Sản phẩm mới nhất</small></h4>
                        <div class="row-fluid">
                            <div id="featured" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/acer-f5-573-36LH.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Acer F5-573-36LH (NX.GFKSV.003) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/dell-inspiron145468-f5468-70119161.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468 (F5468-70119161) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/hp_probook_430_g4_1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Probook 430 G4-Z6T08PA (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/laptop-hp-spectre-x360-ac028tu-1hp09pa-3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Spectre x360-ac028TU (1HP09PA) (Đen)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/acer-f5-573-36LH.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Acer F5-573-36LH (NX.GFKSV.003) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/dell-inspiron145468-f5468-70119161.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468 (F5468-70119161) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/hp_probook_430_g4_1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Probook 430 G4-Z6T08PA (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/laptop-hp-spectre-x360-ac028tu-1hp09pa-3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Spectre x360-ac028TU (1HP09PA) (Đen)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/acer-f5-573-36LH.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Acer F5-573-36LH (NX.GFKSV.003) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/dell-inspiron145468-f5468-70119161.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468 (F5468-70119161) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/hp_probook_430_g4_1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Probook 430 G4-Z6T08PA (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tag"></i>
                                                    <a href="/product_details"><img src="images/products/laptop-hp-spectre-x360-ac028tu-1hp09pa-3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Spectre x360-ac028TU (1HP09PA) (Đen)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
                                <a class="right carousel-control" href="#featured" data-slide="next">›</a>
                            </div>
                        </div>
                    </div>
                    <!--end-->
                    <h4>Sản phầm bán chạy </h4>
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/Asus_X441NA.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Laptop Asus X441NA-GA017T (N3350) (Vàng đồng)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">6.490.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/lenovo-g5070-5942-3771-black_1.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Lenovo G5070-6676 (Đen)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">7.890.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/asus-vivobook-x540up-go106d-11.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Asus X540UP-GO106D (I3-7100U) (Đen)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">10.150.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/Asus-fx503vd-7.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Asus FX503VD-E4082T (I5-7300HQ) (Đen)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">20.490.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/asus-x541ua-go1384.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Asus X541UA-GO1384 (I5-7200U) (Đen)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">10.390.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/laptop-dell-vostro-5468-vti5019w-14-i5-7200u-4gb-ddr4-hdd-500gb-vang-2.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Dell Vostro 5468-VTI5019W (Vàng đồng)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">16.290.000 ₫v</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/laptop-dell-inspiron-14-3467-m20nr2.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Dell Inspiron 14 3467-M20NR2 (Đen)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">10.290.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/dell-inspiron14-5468-k5cdp1.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468-K5CDP1 (Bạc)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">13.690.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <a href="/product_details"><img src="images/products/dell-vostr-3468-f3468-70090697.jpg" alt=""/></a>
                                <div class="caption">
                                    <h5>Máy xách tay/ Laptop Dell Vostro 3468 (F3468-70090697) (Đen)</h5>
                                    <p>
                                        Mô tả
                                    </p>
                                    <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">11.790.000 ₫</a></h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--Sản phẩm đc xem nhiều -->
                    <div class="well well-small">
                        <h4>Sản phẩm được xem nhiều</h4>
                        <div class="row-fluid">
                            <div id="mostview" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/acer-f5-573-36LH.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Acer F5-573-36LH (NX.GFKSV.003) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/dell-inspiron145468-f5468-70119161.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468 (F5468-70119161) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/hp_probook_430_g4_1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Probook 430 G4-Z6T08PA (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/laptop-hp-spectre-x360-ac028tu-1hp09pa-3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Spectre x360-ac028TU (1HP09PA) (Đen)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/acer-f5-573-36LH.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Acer F5-573-36LH (NX.GFKSV.003) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/dell-inspiron145468-f5468-70119161.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468 (F5468-70119161) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/hp_probook_430_g4_1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Probook 430 G4-Z6T08PA (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/laptop-hp-spectre-x360-ac028tu-1hp09pa-3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Spectre x360-ac028TU (1HP09PA) (Đen)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/acer-f5-573-36LH.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Acer F5-573-36LH (NX.GFKSV.003) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/dell-inspiron145468-f5468-70119161.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468 (F5468-70119161) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/hp_probook_430_g4_1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Probook 430 G4-Z6T08PA (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/laptop-hp-spectre-x360-ac028tu-1hp09pa-3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Spectre x360-ac028TU (1HP09PA) (Đen)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails">
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/acer-f5-573-36LH.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Acer F5-573-36LH (NX.GFKSV.003) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/dell-inspiron145468-f5468-70119161.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop Dell Inspiron 14 5468 (F5468-70119161) (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/hp_probook_430_g4_1.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Probook 430 G4-Z6T08PA (Bạc)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="thumbnail">
                                                    <i class="tagmv"></i>
                                                    <a href="/product_details"><img src="images/products/laptop-hp-spectre-x360-ac028tu-1hp09pa-3.jpg" alt=""></a>
                                                    <div class="caption">
                                                        <h5>Máy xách tay/ Laptop HP Spectre x360-ac028TU (1HP09PA) (Đen)</h5>
                                                        <h4><a class="btn" href="/product_details">Xem</a> <span class="pull-right">20.000.000</span></h4>
                                                        <p>Ngày ra mắt: 20/04/2017</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#mostview" data-slide="prev">‹</a>
                                <a class="right carousel-control" href="#mostview" data-slide="next">›</a>
                            </div>
                        </div>
                    </div>
                </div>