
<!-- Sidebar end=============================================== -->
	<div class="span9" id="mainCol">
    <ul class="breadcrumb">
		<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
		<li class="active">Thanh Toán và Giao hàng</li>
    </ul>
	<h3> Thanh Toán và Giao hàng</h3>

	<hr class="soft"/>
	<ul>
	<li><h4>1. PHƯƠNG THỨC THANH TOÁN</h4><br/>
		<img src="images/payment_methods.png" title="Phương thức thanh toán" alt="Payments Methods"><br/>
		<h5>TIỀN MẶT TRỰC TIẾP</h5>
		<p>Quý khách có thể thanh toán tiền mặt trực tiếp khi mua hàng tại Hệ thống siêu thị Phong Vũ, hoặc thanh toán cho nhân viên chuyển phát đối với hình thức chuyển phát COD khi mua hàng trực tuyến qua website https://navistore.vn</p><br/>
		<h5>THANH TOÁN TRỰC TUYẾN</h5>
		<ul>
		<li><p> Thông qua thẻ ATM đã kích hoạt chức năng thanh toán trực tuyến; hoặc Thẻ thanh toán quốc tế VISA, MasterCard, JCB.</p></li>
		<li><p>Quý khách điền thông tin Thẻ theo các bước khi lựa chọn hình thức thanh toán trực tuyến trên webiste</p></li></ul>
		<br/>
		<h5>CHUYỂN KHOẢN</h5>
		<p>
		Chuyển khoản trực tiếp vào tài khoản ngân hàng của NaviStore.

		Ghi chú: Sau khi chuyển khoản, quý khách vui lòng thông báo cho chúng tôi việc chuyển tiền và số tài khoản của quý khách (bằng điện thoại, email, fax, …) để thuận tiện trong việc kiểm tra.
		</p><br/>
	</li>
	<li><h4>2. PHƯƠNG THỨC GIAO HÀNG</h4><br/>
	<ul style="list-style: decimal;">
		<li><p>
		Sau khi bạn đặt hàng, trong vòng 24 giờ chúng tôi sẽ liên lạc lại để kiểm tra thông tin và thỏa thuận thêm những điều khoản khác có liên quan.
		</p></li>
		<li><p>Một số trường hợp đặc biệt như giá trị đơn hàng quá lớn & thời gian giao hàng vào buổi tối, địa chỉ giao hàng trong ngõ hoặc có thể dẫn đến nguy hiểm. Chúng tôi sẽ chủ động liên lạc với quý khách để thống nhất lại thời gian giao hàng cụ thể.
		</p></li>
		<li><p>Trong trường hợp giao hàng chậm trễ mà không báo trước, quý khách có thể từ chối nhận hàng và chúng tôi sẽ hoàn trả toàn bộ số tiền mà quý khách trả trước (nếu có) trong vòng 7 ngày.
		</p></li>
		<li><p>Công ty cam kết tất cả hàng hóa gởi đến quý khách đều là hàng chính hãng mới 100% (có đầy đủ hóa đơn, được bảo hành chính thức). Những rủi ro phát sinh trong quá trình vận chuyển (va đập, ẩm ướt, tai nạn..) có thể ảnh hưởng đến hàng hóa, vì thế xin Quý Khách vui lòng kiểm tra hàng hóa thật kỹ trước khi ký nhận. Phong Vũ sẽ không chịu trách nhiệm với những sai lệch hình thức của hàng hoá sau khi Quý khách đã ký nhận hàng.
		</p></li>
		<li><h5>Giá dịch vụ chuyển hàng</h5>
			<ul>
				<li>
					<p>Giá trị đơn hàng: Dưới 500,000 - Giao hàng: 11,000₫ - Hỗ trợ kỹ thuật: 55,000₫.</p>
				</li>
				<li>
					<p>Giá trị đơn hàng: 500,000->5,000,000₫ - Giao hàng: miễn phí - Hỗ trợ kỹ thuật: 55,000₫.</p>
				</li>
				<li>
					<p>Giá trị đơn hàng: Từ 5,000,000₫ trở lên - Giao hàng: miễn phí - Hỗ trợ kỹ thuật: miễn phí.</p>
				</li>
			</ul>
		</li>
		</li>
	</ul>
</li>
</ul>
</div>
</div></div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
