<!-- Sidebar end=============================================== -->
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
        <li class="active"> Giỏ hàng</li>
    </ul>
    <h3>  Giỏ hàng của bạn [ <small>3 sản phẩm </small>]<a href="/products" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Tiếp tục mua sắm </a></h3>
    <hr class="soft" />
    <table class="table table-bordered">
        <tr>
            <th> Tôi đã là thành viên !!! </th>
        </tr>
        <tr>
            <td>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputUsername">Tài khoản</label>
                        <div class="controls">
                            <input type="text" id="inputUsername" placeholder="Username">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword1">Mật khẩu</label>
                        <div class="controls">
                            <input type="password" id="inputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Đăng nhập</button> HOẶC <a href="register.html" class="btn">Đăng ký ngay!</a>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="forgetpass.html" style="text-decoration:underline">Quên mật khẩu?</a>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sản phẩm</th>
                <th>Mô tả</th>
                <th>Số lượng</th>
                <th>Price</th>
                <th>Giảm giá</th>
                <th>Thuế</th>
                <th>Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <img width="60" src="themes/images/products/laptop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt="" /></td>
                <td>Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng)T
                    <br/>Color : Yellow, Material : metal</td>
                <td>
                    <div class="input-append">
                        <input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text">
                        <button class="btn" type="button"><i class="icon-minus"></i></button>
                        <button class="btn" type="button"><i class="icon-plus"></i></button>
                        <button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>
                    </div>
                </td>
                <td>20,000,000₫</td>
                <td>2,000,000₫</td>
                <td>2,000,000₫</td>
                <td>20,000,000₫</td>
            </tr>
            <tr>
                <td> <img width="60" src="themes/images/products/asus-vivobook-x540up-go106d-11.jpg" alt="" /></td>
                <td>Laptop Asus X540UP-GO106D (I3-7100U) (Đen)
                    <br/>Color : Black, Material : metal</td>
                <td>
                    <div class="input-append">
                        <input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text">
                        <button class="btn" type="button"><i class="icon-minus"></i></button>
                        <button class="btn" type="button"><i class="icon-plus"></i></button>
                        <button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>
                    </div>
                </td>
                <td>20,000,000₫</td>
                <td>2,000,000₫</td>
                <td>2,000,000₫</td>
                <td>20,000,000₫</td>
            </tr>
            <tr>
                <td> <img width="60" src="themes/images/products/Asus-fx503vd-7.jpg" alt="" /></td>
                <td>Laptop Asus FX503VD-E4119T (I7-7700HQ) (Đen)
                    <br/>Color : Black, Material : metal</td>
                <td>
                    <div class="input-append">
                        <input class="span1" style="max-width:34px" placeholder="1" id="appendedInputButtons" size="16" type="text">
                        <button class="btn" type="button"><i class="icon-minus"></i></button>
                        <button class="btn" type="button"><i class="icon-plus"></i></button>
                        <button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>
                    </div>
                </td>
                <td>10,000,000₫</td>
                <td>1,000,000₫</td>
                <td>1,000,000₫</td>
                <td>10,000,000₫</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right">Tổng tiền: </td>
                <td> 50,000,000₫</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right">Số tiền đã giảm: </td>
                <td> 5,000,000₫</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right">Tổng thuế: </td>
                <td> 5,000,000₫</td>
            </tr>
            <tr>
                <td colspan="6" style="text-align:right"><strong>Thành tiền (50,000,000₫ - 5,000,000₫ + 5,000,000₫) =</strong></td>
                <td class="label label-important" style="display:block"> <strong> 50,000,000₫ </strong></td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label"><strong> Mã giảm giá: </strong> </label>
                            <div class="controls">
                                <input type="text" class="input-medium" placeholder="CODE">
                                <button type="submit" class="btn"> Thêm </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>Chọn nơi nhận hàng </th>
        </tr>
        <tr>
            <td>
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputCountry">Quốc gia </label>
                        <div class="controls">
                            <input type="text" id="inputCountry" placeholder="Country">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPost">Mã bưu chính </label>
                        <div class="controls">
                            <input type="text" id="inputPost" placeholder="Postcode">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Chọn </button>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <a href="/products" class="btn btn-large"><i class="icon-arrow-left"></i> Tiếp tục mua sắm </a>
    <a href="/login" class="btn btn-large pull-right">Tiếp theo <i class="icon-arrow-right"></i></a>
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->