<!-- Sidebar end=============================================== -->
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="index.html">Trang chủ</a> <span class="divider">/</span></li>
        <li><a href="products.html">Sản phẩm</a> <span class="divider">/</span></li>
        <li class="active">Chi tiết sản phẩm</li>
    </ul>
    <div class="row">
        <div id="gallery" class="span3">
            <a href="images/products/Asus_X441NA.jpg" title="Laptop Asus X441NA-GA017T (N3350) (Vàng đồng)">
				<img src="images/products/Asus_X441NA.jpg" style="width:100%" alt="Laptop Asus X441NA-GA017T (N3350) (Vàng đồng)"/>
            </a>
            <div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                    <div class="item active">
                        <a href="images/products/Asus_X441NA.jpg"> <img style="width:29%" src="images/products/Asus_X441NA.jpg" alt=""/></a>
                        <a href="images/products/Asus_X441NA.jpg"> <img style="width:29%" src="images/products/Asus_X441NA.jpg" alt=""/></a>
                        <a href="images/products/Asus_X441NA.jpg"> <img style="width:29%" src="images/products/Asus_X441NA.jpg" alt=""/></a>
                    </div>
                    <div class="item">
                        <a href="images/products/Asus_X441NA.jpg"> <img style="width:29%" src="images/products/Asus_X441NA.jpg" alt=""/></a>
                        <a href="images/products/Asus_X441NA.jpg"> <img style="width:29%" src="images/products/Asus_X441NA.jpg" alt=""/></a>
                        <a href="images/products/Asus_X441NA.jpg"> <img style="width:29%" src="images/products/Asus_X441NA.jpg" alt=""/></a>
                    </div>
                </div>
                <!--  
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> 
			  -->
            </div>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <span class="btn"><i class="icon-envelope"></i></span>
                    <span class="btn"><i class="icon-print"></i></span>
                    <span class="btn"><i class="icon-zoom-in"></i></span>
                    <span class="btn"><i class="icon-star"></i></span>
                    <span class="btn"><i class=" icon-thumbs-up"></i></span>
                    <span class="btn"><i class="icon-thumbs-down"></i></span>
                </div>
            </div>
        </div>
        <div class="span6">
            <h3>Laptop Asus X441NA-GA017T (N3350)<br/> (Vàng đồng) </h3>
            <small>Mã sản phẩm: 1703038</small>
            <hr class="soft" />
            <form class="form-horizontal qtyFrm">
                <div class="control-group">
                    <label class="control-label"><span>6.490.000 ₫</span></label>
                    <div class="controls">
                        <button type="submit" class="btn btn-large btn-primary pull-right"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></button>
                    </div>
                </div>
            </form>
            <hr class="soft" />
            <h4>Tạm hết hàng</h4>
            <small>Số lượt xem: 1000 <br/> Số lượt bán: 400</small>
            <form class="form-horizontal qtyFrm pull-right">
                <div class="control-group">
                    <label class="control-label"><span>Màu sắc</span></label>
                    <div class="controls">
                        <select class="span2">
                            <option>Vàng</option>
                        </select>
                    </div>
                </div>
            </form>
            <hr class="soft clr" />
            <p>
                - CPU: Intel® Celeron® Processor N3350 (1.10GHz, 2M Cache, up to 2.4 GHz)
                <br> - Ram: 4GB DDR3L Bus 1600 Mhz
                <br> - Ổ cứng: HDD500GB 5400rpm Hard Drive Sata
                <br> - Card màn hình: Integrated Intel® HD Graphics
                <br> - Màn hình: 14.0 inch LED backlit HD (1366x768) 60Hz Glare Panel with 45% NTSC
                <br> - Khối lượng: 1.78kg
            </p>
            <a class="btn btn-small pull-right" href="#detail">Thêm chi tiết</a>
            <br class="clr" />
            <a href="#" name="detail"></a>
            <hr class="soft" />
        </div>
        <div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Chi tiết sản phẩm</a></li>
                <li><a href="#features" data-toggle="tab">Tổng quan</a></li>
                <li><a href="#profile" data-toggle="tab">Sản phẩm liên quan</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="home">
                    <h4>Thông tin sản phẩm</h4>
                    <table class="table table-bordered">
                        <tbody>
                            <tr class="techSpecRow">
                                <th colspan="2">Thông số kĩ thuật</th>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Bảo hành (tháng): </td>
                                <td class="techSpecTD2">24</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Thương hiệu:</td>
                                <td class="techSpecTD2">Asus</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Tính năng :</td>
                                <td class="techSpecTD2"> Multimedia</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Màu sắc :</td>
                                <td class="techSpecTD2">Vàng</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Series:</td>
                                <td class="techSpecTD2">Normal</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Mã :</td>
                                <td class="techSpecTD2">3306</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">CPU Series :</td>
                                <td class="techSpecTD2">Intel Celeron</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">CPU :</td>
                                <td class="techSpecTD2">N3350</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Số nhân:</td>
                                <td class="techSpecTD2">2</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Xung nhịp tối thiếu:</td>
                                <td class="techSpecTD2">1.1 GHz</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Cache CPU: </td>
                                <td class="techSpecTD2">2MB</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Hệ điều hành:</td>
                                <td class="techSpecTD2">Free DOS</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">RAM:</td>
                                <td class="techSpecTD2"> 4GB</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">RAM tối đa :</td>
                                <td class="techSpecTD2">Đang cập nhật</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Kích thước màn hình:</td>
                                <td class="techSpecTD2">14.0"</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Màn hình cảm ứng :</td>
                                <td class="techSpecTD2">Không</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Độ phân giải :</td>
                                <td class="techSpecTD2">1366 x 768</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Chuẩn màn hình :</td>
                                <td class="techSpecTD2">HD</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Card màn hình Onboard:</td>
                                <td class="techSpecTD2">Intel HD Graphics 500</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Card màn hình gắn ngoài:</td>
                                <td class="techSpecTD2">Không có</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Bộ nhớ VGA:</td>
                                <td class="techSpecTD2">Không</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">HDD:</td>
                                <td class="techSpecTD2">500GB</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Dung lượng:</td>
                                <td class="techSpecTD2">Không có</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Ổ đĩa quang:</td>
                                <td class="techSpecTD2">Có</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Khu phím số:</td>
                                <td class="techSpecTD2">Không</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">LED Bàn phím:</td>
                                <td class="techSpecTD2">Không có</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Bàn phím cơ:</td>
                                <td class="techSpecTD2">Không </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Đầu đọc thẻ nhớ:</td>
                                <td class="techSpecTD2">Có </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Webcam:</td>
                                <td class="techSpecTD2">Có </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Số cổng USB:</td>
                                <td class="techSpecTD2">3 </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Số cổng HDMI:</td>
                                <td class="techSpecTD2">1 </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Cổng LAN:</td>
                                <td class="techSpecTD2">Có </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Cổng VGA:</td>
                                <td class="techSpecTD2">Có </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Kích thước:</td>
                                <td class="techSpecTD2">348 x 242.8 x 27.6 mm </td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Khối lượng:</td>
                                <td class="techSpecTD2">1.35kg</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Số cell pin:</td>
                                <td class="techSpecTD2">3</td>
                            </tr>
                            <tr class="techSpecRow">
                                <td class="techSpecTD1">Hỗ trợ VR:</td>
                                <td class="techSpecTD2">Không</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="features">
                    <h3>Tính năng nổi bật</h3>
                    <p>
                        - CPU: Celeron N3350
                        <br/> - Ram: 4GB
                        <br/> - HDD: 500GB
                        <br/> - Màn hình: 14.0"
                        <br/> - Màu sắc: đen
                        <br/>
                    </p>
                    <h4>Thiết kế đẹp mắt</h4>
                    <p>
                        Laptop Asus X441NA-GA017 sở hữu thiết kế hiện đại, tông màu sang trọng, các chi tiết, góc cạnh trên máy được thiết kế hoàn hảo và chắc chắn đem lại sự sang trọng và đẳng cấp cho người sử dụng.
                    </p>
                    <h4>Kích thước màn hình</h4>
                    <p>
                        Asus X441NA-GA017 có kích thước 14 inches với độ phân giải HD 1366x768 pixels, cùng công nghệ màn hình HD Glare và màn hình chống lóa LED cho hình ảnh hiển thị rõ ràng hơn, sắc nét.
                    </p>
                    <h4>Cấu hình ổn định</h4>
                    <p>
                        Asus X441NA-GA017 trang bị bộ vi xử lý Intel Celeron Processor N3350, RAM dung lượng 4GB, ổ cứng HDD dung lượng 500GB, chipset đồ họa rời Intel HD Graphics đáp ứng mọi nhu cầu sử dụng.
                    </p>
                    <h4>Dung lượng pin</h4>
                    <p>
                        Laptop Asus trang bị viên pin 3 cell có thể đáp ứng tốt nhu cầu sử dụng thường ngày. Công nghệ tiết kiệm điện năng được tích hợp sẵn trên vi xử lý của Intel giúp máy hoạt động êm ái, mát mẻ và tiêu tốn ít năng lượng hơn.
                    </p>
                    <h4>Bàn phím tiện dụng</h4>
                    <p>
                        Laptop sử dụng bàn phím dạng full size có độ nảy tốt, khoảng cách giữa các phím hợp lý giúp người dùng có được những trải nghiệm tốt nhất khi chơi game hoặc làm việc.
                    </p>
                    <h4>Đầy đủ kết nối</h4>
                    <p>
                        Asus X441NA-GA017 được trang bị đầy đủ các kết nối thông dụng như HDMI, LAN, USB, VGA và khe cắm thẻ nhớ SD giúp kết nối máy với các thiết bị ngoại vi một cách dễ dàng.
                    </p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <div id="myTab" class="pull-right">
                        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                    </div>
                    <br class="clr" />
                    <hr class="soft" />
                    <div class="tab-content">
                        <div class="tab-pane" id="listView">
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/asus-vivobook-x540up-go106d-11.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng nhà sản xuất</h3>
                                    <hr class="soft" />
                                    <h5>Laptop Asus X540UP-GO106D (I3-7100U) (Đen) </h5>
                                    <p>
                                        - CPU Intel Core i3-7100U (2.4GHz, 3MB Cache)
                                        <br> - RAM 4GB DDR4 - 2133MHz
                                        <br> - HDD 1TB 5400rpm
                                        <br> - VGA AMD Radeon R5 M420 2GB DDR3 + Intel HD Graphics 620
                                        <br> - Màn hính: 15.6" HD (1366 x 768)
                                        <br> - Trọng lượng: ~ 2kg
                                        <br> - Hệ điều hành: Free DOS
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 10.150.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánh
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/lenovo-g5070-5942-3771-black_1.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng loại</h3>
                                    <hr class="soft" />
                                    <h5>Laptop Lenovo G5070-6676 (Đen) </h5>
                                    <p>
                                        - CPU: i3-4005U
                                        <br> - Ram: 2GB
                                        <br> - Ổ cứng: HDD 500GB
                                        <br> - Màn hình: 15.6" HD
                                        <br> - Trọng lượng: 2.3kg
                                        <br> - Hệ điều hành có sẵn: Free Dos
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 7.890.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánh
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary">Thêm vào giỏ hàng  <i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/Asus-fx503vd-7.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng nhà sản xuất</h3>
                                    <hr class="soft" />
                                    <h5> Laptop Asus FX503VD-E4119T (I7-7700HQ) (Đen) </h5>
                                    <p>
                                        - CPU Intel Core i7 7700HQ (2.8GHz Up to 3.8GHz, 6MB Cache)
                                        <br> - RAM 8GB DDR4 - 2400MHz
                                        <br> - SSHD 1TB 5400rpm + 8GB NAND
                                        <br> - VGA NVIDIA GeForce GTX 1050 4GB GDDR5 + Intel HD Graphics 630
                                        <br> - Màn hình: 15.6" FHD (1920 x 1080)
                                        <br> - Trọng lượng: ~ 2.3kg
                                        <br> - Hệ điều hành: Windows 10 Home - 64 bit
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 24.490.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánhr
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary">Thêm vào giỏ hàn<i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/laptop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng nhà sản xuất</h3>
                                    <hr class="soft" />
                                    <h5> Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng) </h5>
                                    <p>
                                        - CPU: Intel Core i5-8250U (1.6GHz Up to 3.4GHz, 6MB Cache)
                                        <br> - RAM: 1x4GB, DDR4, 2400MHz, 2 Slots
                                        <br> - Ổ cứng: HDD 1TB 5400rpm, Khe mở rộng: M.2 2280 Sata
                                        <br> - VGA: NVIDIA GeForce GT940MX 2GB GDDR5 + Intel UHD Graphics 620
                                        <br> - Màn hình: : 15.6 INCH, 1920x1080, Webcam HD, Led_KB
                                        <br> - Kết nối: 2x USB 2.0, USB 3.0, USB-C, HDMI, BT 4.2
                                        <br> - Khối lượng: 1.6 kg
                                        <br> - Hệ điều hành: Windows 10 Home SL 64bits
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 17.290.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánhr
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary">Thêm vào giỏ hàng<i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/laptop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng nhà sản xuất</h3>
                                    <hr class="soft" />
                                    <h5> Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng) </h5>
                                    <p>
                                        - CPU: Intel Core i5-8250U (1.6GHz Up to 3.4GHz, 6MB Cache)
                                        <br> - RAM: 1x4GB, DDR4, 2400MHz, 2 Slots
                                        <br> - Ổ cứng: HDD 1TB 5400rpm, Khe mở rộng: M.2 2280 Sata
                                        <br> - VGA: NVIDIA GeForce GT940MX 2GB GDDR5 + Intel UHD Graphics 620
                                        <br> - Màn hình: : 15.6 INCH, 1920x1080, Webcam HD, Led_KB
                                        <br> - Kết nối: 2x USB 2.0, USB 3.0, USB-C, HDMI, BT 4.2
                                        <br> - Khối lượng: 1.6 kg
                                        <br> - Hệ điều hành: Windows 10 Home SL 64bits
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 17.290.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánhr
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary">Thêm vào giỏ hàng<i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/laptop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng nhà sản xuất</h3>
                                    <hr class="soft" />
                                    <h5> Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng) </h5>
                                    <p>
                                        - CPU: Intel Core i5-8250U (1.6GHz Up to 3.4GHz, 6MB Cache)
                                        <br> - RAM: 1x4GB, DDR4, 2400MHz, 2 Slots
                                        <br> - Ổ cứng: HDD 1TB 5400rpm, Khe mở rộng: M.2 2280 Sata
                                        <br> - VGA: NVIDIA GeForce GT940MX 2GB GDDR5 + Intel UHD Graphics 620
                                        <br> - Màn hình: : 15.6 INCH, 1920x1080, Webcam HD, Led_KB
                                        <br> - Kết nối: 2x USB 2.0, USB 3.0, USB-C, HDMI, BT 4.2
                                        <br> - Khối lượng: 1.6 kg
                                        <br> - Hệ điều hành: Windows 10 Home SL 64bits
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 17.290.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánhr
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary">Thêm vào giỏ hàng<i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/laptop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng nhà sản xuất</h3>
                                    <hr class="soft" />
                                    <h5> Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng) </h5>
                                    <p>
                                        - CPU: Intel Core i5-8250U (1.6GHz Up to 3.4GHz, 6MB Cache)
                                        <br> - RAM: 1x4GB, DDR4, 2400MHz, 2 Slots
                                        <br> - Ổ cứng: HDD 1TB 5400rpm, Khe mở rộng: M.2 2280 Sata
                                        <br> - VGA: NVIDIA GeForce GT940MX 2GB GDDR5 + Intel UHD Graphics 620
                                        <br> - Màn hình: : 15.6 INCH, 1920x1080, Webcam HD, Led_KB
                                        <br> - Kết nối: 2x USB 2.0, USB 3.0, USB-C, HDMI, BT 4.2
                                        <br> - Khối lượng: 1.6 kg
                                        <br> - Hệ điều hành: Windows 10 Home SL 64bits
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 17.290.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánhr
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary">Thêm vào giỏ hàng<i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span2">
                                    <img src="images/products/laptop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>Sản phẩm cùng nhà sản xuất</h3>
                                    <hr class="soft" />
                                    <h5> Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng) </h5>
                                    <p>
                                        - CPU: Intel Core i5-8250U (1.6GHz Up to 3.4GHz, 6MB Cache)
                                        <br> - RAM: 1x4GB, DDR4, 2400MHz, 2 Slots
                                        <br> - Ổ cứng: HDD 1TB 5400rpm, Khe mở rộng: M.2 2280 Sata
                                        <br> - VGA: NVIDIA GeForce GT940MX 2GB GDDR5 + Intel UHD Graphics 620
                                        <br> - Màn hình: : 15.6 INCH, 1920x1080, Webcam HD, Led_KB
                                        <br> - Kết nối: 2x USB 2.0, USB 3.0, USB-C, HDMI, BT 4.2
                                        <br> - Khối lượng: 1.6 kg
                                        <br> - Hệ điều hành: Windows 10 Home SL 64bits
                                        <br>
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> 17.290.000 ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánhr
                                        </label>
                                        <br/>
                                        <div class="btn-group">
                                            <a href="/product_details" class="btn btn-large btn-primary">Thêm vào giỏ hàng<i class=" icon-shopping-cart"></i></a>
                                            <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" />
                        </div>
                        <div class="tab-pane active" id="blockView">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/asus-vivobook-x540up-go106d-11.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5>Laptop Asus X540UP-GO106D (I3-7100U) (Đen)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">10.150.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/laptop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5>Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">17.290.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/Asus-fx503vd-7.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5>Laptop Asus FX503VD-E4119T (I7-7700HQ) (Đen)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">24.490.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/lenovo-g5070-5942-3771-black_1.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5>Laptop Lenovo G5070-6676 (Đen)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">7.890.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/lenovo-g5070-5942-3771-black_1.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5>Laptop Lenovo G5070-6676 (Đen)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">7.890.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/lenovo-g5070-5942-3771-black_1.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5>Laptop Lenovo G5070-6676 (Đen)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">7.890.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/laptop-asus-x541uv-go607-15.6-i5-7200u-4gb-ddr4-hdd-1tb-den-2.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5> Laptop Asus X541UV-GO607 (I5-7200U) (Đen)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">13.290.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details"><img src="images/products/asus-x541ua-go1384.jpg" alt=""/></a>
                                        <div class="caption">
                                            <h5>  Laptop Asus X541UA-GO1384 (I5-7200U) (Đen)</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">12.390.000 ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <hr class="soft" />
                        </div>
                    </div>
                    <br class="clr">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MainBody End ============================= -->