
<!-- Sidebar end=============================================== -->
	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
		<li class="active">So sánh sản phẩm</li>
    </ul>
	<h3> So sánh sản phẩm<small class="pull-right"> So sánh [2] sản phẩm </small></h3>	
	<hr class="soft"/>

	<table id="compairTbl" class="table table-bordered">
              <thead>
                <tr>
                  <th>Tên sản phẩm</th>
                  <th>Laptop Asus X540UP-GO106D (I3-7100U) (Đen) </th>
                  <th>Laptop Asus S510UQ-BQ475T (I5-8250U) (Vàng đồng)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td style="text-align:center">
					<p class="justify">
						- CPU Intel Core i3-7100U (2.4GHz, 3MB Cache)<br>
						- RAM 4GB DDR4 - 2133MHz<br>
						- HDD 1TB 5400rpm<br>
						- VGA AMD Radeon R5 M420 2GB DDR3 + Intel HD Graphics 620<br>
						- Màn hính: 15.6" HD (1366 x 768)<br>
						- Trọng lượng: ~ 2kg<br>
						- Hệ điề hành: Free DOS<br>
					</p>
				<img src="images//products-vivobook-x540up-go106d-11.jpg" alt=""/>
				<form class="form-horizontal qtyFrm">
				<h3> 10.190.000 ₫</h3><br/>
				 <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
				 <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
				</td>
                  <td>
				  <p class="justify">
					- CPU: Intel Core i5-8250U (1.6GHz Up to 3.4GHz, 6MB Cache)<br>
					- RAM: 1x4GB, DDR4, 2400MHz, 2 Slots<br>
					- Ổ cứng: HDD 1TB 5400rpm, Khe mở rộng: M.2 2280 Sata<br>
					- VGA: NVIDIA GeForce GT940MX 2GB GDDR5 + Intel UHD Graphics 620<br>
					- Màn hình: : 15.6 INCH, 1920x1080, Webcam HD, Led_KB<br>
					- Kết nối: 2x USB 2.0, USB 3.0, USB-C, HDMI, BT 4.2<br>
					- Khối lượng: 1.6 kg<br>
					- Hệ điều hành: Windows 10 Home SL 64bits<br>
				</p>
				<img src="images//productsop_asus-s510uq-bq475t-15.6_i5-8250u_4gb_hdd-1tb-trang-4.jpg" alt=""/>
				
				<form class="form-horizontal qtyFrm">
				<h3> 17.290.000 ₫</h3>
				<br/>
				 <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
				 <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
				</form>
				  </td>
                </tr>
              </tbody>
            </table>		
	<a href="/products" class="btn btn-large pull-right">Về trang sản phẩm</a>
	
	
</div>
</div>
</div>
</div>
